html {
  overflow: auto scroll;
}
.topLvl , .infoJunk {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
}
.topLvl > * {
  margin: 0.5em;
}

@media screen {
  .paperContent {
  min-height: 5rem;
  min-width: 50ch;
  margin: 2em;
  padding: 1em;
 }
 .kvSpans {
  min-width: 8rem; 
 }
}
.pprData {
  text-decoration: underline;
 }
div.kvSpans {
  display: flex; flex-wrap: wrap; justify-content: space-around;
  row-gap: 0.7em;
}
.kvSpans > * {
  margin-block: 0;
  margin-right: 1.2em;
}
div.paperTopLvl {
  max-width: max( 78rem, 48vw );
}
@media print {
  /* body > *:not( div.printSelect) {display: none; } */
  body > *:not( div.paperTopLvl),
  div.paperTopLvl > *:not( div.paperContent ) {
    display: none; }
  .paperDesc , .paperFormDiv,
   tr[data-intern-ts-row-type='CreateNew'],
   [data-intern-print="no"] {
    display: none;
  }
  #contractSignatures, .paperContent, .pageContent { break-after:page; }
}
#superLtrHead { max-width: fit-content; float: left;}
#superLtrLogo {
  max-width: min-content; float: right; margin-top: 0; margin-bottom: 1em;
  padding: 6px;
  border: 1px solid black;
}
#superLtrHead p , .compactParas p {
  margin: 0;
}
#superLtrLogo p {
  font-weight : bolder; text-align: center;
  text-transform: uppercase; font-size: smaller;
}
#contractInitials {
  padding: 0.25em; border: 1px solid black;
}
.initialBlock , .initialRect {
  display: inline-block;
  margin: 0.1em;
}
.initialRect {
  border: 1px solid black; 
  padding: 0.3em 2em;
}
.gridSignatures {
  display: grid;
  grid-template-columns: fit-content(29ch) 1fr fit-content(18ch);
   
  gap: 0.5em;
}
.gridSignatures > span {
  min-height: 2.16em;
}
.sigBlockLine {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
  text-align: center;
}
.sigBlockLine > span {
  border-top: 1px solid black;
}
.paperHead {
  position:relative;

}
.paperHead::after {
  content: '';
  position:absolute;
  background-image: url('../../sfcc-icon.svg');
  right: 0.5em;
  top: 0.5em;
  min-height: 80px;
  min-width: 120px;
}
.paperHead p {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  margin-top: 4px;
  margin-bottom: 3px;
}
#infoStudFullName {
  display: grid;
  grid-template-columns: fit-content(29ch) fit-content(12ch) fit-content(18ch);
  column-gap: 0.8em; 
}
#infoStudFullName [data-intern-store] {
  border-bottom: 1px solid black;
  align-self: stretch;
}
.infoJunk {
  display: flex; 
}
.infoJunk > * {
  min-width: 3em; margin: 0;
}
.infoJunk :is(p, div) {margin:0;}
.infoJunk :not( .infoJunkBlock ) p[data-intern-store] {
  text-decoration: underline;
}
.infoJunkLabel {
  font-size: larger;
  font-weight: bolder;
}
.infoJunkBlock {
  min-height: 5em; min-width: 32em;
  border: 1px solid black;
}
table {
  border: 1.9px solid black;
  border-collapse: collapse;
  min-width: clamp( 38em, 90%, 102em );
  table-layout: auto;
  container-type: inline-size; 
}

table  thead th {
  text-align: center;
  padding-inline: 0.46em;
  border: 2.9px solid black;
}
.small:where( td, th) {
  min-width: 2em;
  max-width: 5em;
}
.medium:where( td, th) {
  min-width: 5em;
  max-width: 10em;
}
.bg-text:where( td, th) {
  min-width: clamp( 28em, 55cqw, 82em ); 
}

table tbody tr {
  min-height: 0.6em;min-width: 2em;
}
table.timeSheetData tfoot td[colspan] {
  text-align: right;
}
table td {
  border: 1.8px solid black;
}
td.learnObjCell {
  min-height: 2.2em;
  min-width: clamp( 28em, 30cqw, 78em );
}
img { margin:0;}
hr { clear:both; display: block;}
.hilite {
  font-size: larger;
  font-weight : bolder;
}
.detail { font-size: smaller;}
 [data-intern-dialog], tr[data-intern-ts-row-type='CreateNew']  {
  cursor: pointer; }
:is([data-intern-dialog], tr[data-intern-ts-row-type='CreateNew']):is(:focus-within, :hover)
    {
    border: 1px dashed darkorchid;
    box-shadow: 8px 5px 7px -3px darkorchid;
  }
.timeSheetFinalACBox {
  margin: 1.2em; padding-block: 0.4em;
  position: relative;
  border: 0.8px dashed gray;
  border-radius: 1.4em;z-index: 0;
}
.timeSheetFinalACBox > p {
  width: fit-content; position: absolute; z-index: 1;
  left: 6em; top: -0.6em; background-color: white;
}
  .timeSheetFinalACList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1.8em;
    margin: 0;
  }
  .timeSheetFinalACList > p { margin: 0.2em; }
  table.evalTab tbody tr[data-intern-key] td {
      position: relative; padding: 0.2em;
  }
  table.evalTab tbody tr[data-intern-value="na"] td:nth-last-child(1)::before {
    content: '✔️'; position: absolute; left: 2em; top: 0.2em; 
  }
  table.evalTab tbody tr[data-intern-value="-"] td:nth-last-child(2)::before {
    content: '✔️'; position: absolute; left: 2em; top: 0.2em; 
  }
  table.evalTab tbody tr[data-intern-value="0"] td:nth-last-child(3)::before {
    content: '✔️'; position: absolute; left: 2em; top: 0.2em; 
  }
  table.evalTab tbody tr[data-intern-value="+"] td:nth-last-child(4)::before {
    content: '✔️'; position: absolute; left: 2em; top: 0.2em; 
  }
  table.evalTab tbody tr[data-intern-value="++"] td:nth-last-child(5)::before {
    content: '💎'; position: absolute; left: 2em; top: 0.2em;
     
  }
  table.evalTab tbody tr[data-intern-key] td div {
    padding: 0.23em; text-align: right  ; min-height: 1.1ex;
  }
  table.evalTab tbody tr[data-intern-key] td:nth-last-child(7) div {
    min-width: 27ch;
  }
/*
  table.evalTab tbody tr[data-intern-key] td:nth-last-child(1) {
    background-color: chartreuse;
  }
  */